<!DOCTYPE HTML PUBLIC "-//W4C//DTD HTML 4.01//EN">
<html>
<head>
    <title>Tunnel Broker</title>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
    <div>
	<h2>login</h2>
        <form action="/changename/result/" method="post">
	    <label for="old_username">old user name:</label>
	    <input type="text" name="old_username" id="old_username" value=""></br>
	    <label for="old_password">old password:</label>
	    <input type="password" name="old_password" id="old_username" value=""></br>
	    <label for="new_username">new user name:</label>
	    <input type="text" name="new_username" id="new_username" value=""></br>
	    <label for="new_password">new password:</label>
	    <input type="password" name="new_password" id="new_password" value=""></br>
	    <label for="new_password">new password again:</label>
	    <input type="password" name="new_password_again" id="new_password_again" value=""></br>
	    <input type="submit" value="submit"/>
	</form>
    </div>
</body>
</html>
