<html>
<head>
</head>
<body>
{% if page == 0 %}
   <p>welcome to TunnelBroker, First we need to check your mac address</p>
   <p>click next to check your mac address</p>
   <a href={{next}}>next</a>
{% endif %}

{% if page == 0.5 %}
{% if error == 0 %}
    <p style="color:red">mac address is invalid!</p>
    <a href='{{next}}'>next</a>
{% endif %}
{% if error == 1 %}
    <p style="color:green">mac address is valid</p>
    <a href='{{next}}'>use new ID</a>
    
    <p>provide your ID</p>
    <form action={{next1}} method="post">
    <label for="username">User name:</label>
    <input type="text" name="username" value=""></br>
    <label for="password">Password:</label>
    <input type="password" name="password" value=""></br> 
    <input type="submit" value="next"/>
    </form>
{% endif %}
{% if error == 2 %}
    <p style="color:green">mac address is already used</p>
    <a href='{{next}}'>next</a>
    
{% endif %}
{% endif %}


{% if page == 1 %}
{% if error == 0 %}
    <p style="color:red">mac address is invalid!</p>
{% endif %}
{% if error == 1 %}
    <p style="color:green">mac address is valid!</p>
    <p>click next to finish the authentication</p>
{% endif %}
{% if error == 2 %}
    <p style="color:green">mac address is already used!</p>
    <p>please provide your username and password for authentication</p>
{% endif %}
<form action={{next}} method="post">
{% if error == 1 %}
    <label for="username">User name: {{username}}</label>
    <input type="hidden" name="username" value={{username}}></br>
    <label for="password">Password: {{username}}</label>
    <input type="hidden" name="password" value={{username}}></br>
{% endif %}
{% if error == 2 %}
    <label for="username">User name:</label>
    <input type="text" name="username" value=""></br>
    <label for="password">Password:</label>
    <input type="password" name="password" value=""></br>
{% endif %}
<input type="submit" value="next"/>
</form>
{% endif %}

{% if page == 2 %}
{% if error == 0 %}
<p style="color:red">wrong username or password! </p>
<p>click next to info page</p>
{% endif %}
{% if error == 1 %}
<p style="color:green">authentication finished! </p>
<p>click next to tunnel configure</p>
{% endif %}
<a href={{next}}>next</a>
{% endif %}



</br>
</body>
</html>
