{% extends "base.html" %}

{% block content %}
<div id="list" class="pure-u-1">
    <div class="email-item email-item-selected pure-g">

        <div class="pure-u-3-4" style="font-family:courier;">
            <h5 class="email-name">Greetings, dear user!</h5>
            <h4 class="email-subject">Hello from THU</h4>
            <p class="email-desc">
            Hi, it is the control center!
            </p>
        </div>
    </div>
</div>

<div id="main" class="pure-u-1" style='font-family=courier;'>
    <div class="email-content">
        <div class="email-content-header pure-g">
            <div class="pure-u-1-2">
                <h1 style="font-family:courier;" class="email-content-title">Instructions</h1>
                <p class="email-content-subtitle">
                From <a>Control Center</a>
                </p>
            </div>
        </div>
        <div class="email-content-body" >
            <p>
            Dear Users,<br>
            greetings! It is the control center of the primary web server. <br>On this server, you are able to:</p>
            <p>Check which secondary users are currently connected to the server.</p>
            <p>Change the settings of this respberry wlan.</p>
            Regards,<br>
            Control Center
            </p>
        </div>
    </div>
</div>

{% endblock %}
