<!DOCTYPE HTML PUBLIC "-//W4C//DTD HTML 4.01//EN">
<html>
<head>
    <title>Tunel Broker</title>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" language="javascript">
        function jumppage(){
            $.post('/tunnel check/',function(result){
                if(result==1){
                    window.location.href="/"
                }
            });
        }
        function time_out(){
            window.location.href="/error"
        }
        //var i = setIntervar("jumppage()",500);
        //var j = setTimeout("time_out()",4000); 
    </script>
</head>
<body>
    <p style="color:green">We are configuring the tunnel for you...</p> 
    <script type="text/javascript" language="javascript">
        setInterval("jumppage()",3000);
        setTimeout("time_out()",240000); 
    </script>
</body>
</html>
