<html>
<head>
	<title>tunnel info</title>
</head>
<body>
	<h2>hello  {{error}}</h2>
	{% if tunnel_type == 0 %}
		<p>You are not using any tunnel now</p>
	{% endif %}
	{% if tunnel_type == 1 %}
		<p>You are using IP layer tunnel now</p>
	{% endif %}
	{% if tunnel_type == 2 %}
		<p>You are using transport layer tunnel now</p>
	{% endif %}
        <form action="/tunnel type/choose/" method="post">
		<input type="radio" name="type" value="1" {%if tunnel_type == 1 %}checked{% endif %}></input>
		<label>IP layer tunnel</label>{% if tunnel_type == 1 %}&nbsp &nbsp &nbsp<a href="/tunnel type/delete">stop</a>{% endif %}
		<br />

		<input type="radio" name="type" value="2" {% if tunnel_type == 2 %}checked{% endif %}></input>
		<label>transport layer tunnel</label>{% if tunnel_type == 2 %}&nbsp &nbsp &nbsp <a href="/tunnel type/delete">stop</a>{% endif %}
		
		<br />

		<input type="radio" name="type" value="3"></input>
		<label>auto choose</label>
		<br />
		
		<input type="submit" value="submit"/>
	</form>
        <a href="/changename/">change name</a>	
        <a href="/userauth">set username</a>
        <a href="/logout1">logout1</a>
        <a href="/logout2">logout2</a>
        <p style="line-height:0">IPv6 slaac address:{{v6_net}}</p>
        <p style="line-height:0">IPv6 gateway:{{v6_gate}}</p>
        <p style="line-height:0">IVI address:{{ivi_net}}</p>
        <p style="line-height:0">IVI gateway:{{ivi_gate}}</p>
        {% for dns in dns_list %}
        <p style="line-height:0">dns server:{{dns}}</p>
        {% endfor %}
        <p style="line-height:0">ipv4 global address:{{v4_global}}</p>

	<p style="line-height:0">server address:<a href="{{server_addr}}">{{server_addr}}</a></p>
	<p style="line-height:0">ivi server address:<a href="{{server_ivi_addr}}">{{server_ivi_addr}}</a></p>
 


<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
<!--p>mss test</p-->      
</body>
</html>
